.navbar {
    background-color: #f0f0f0;
    padding: 1rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar a {
    color: #e79d43;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
    color: #b2784b;
} 